#App {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que ocupen toda la altura de la pantalla */
  box-sizing: border-box; /* Incluye el padding en el tamaño total de los elementos */
  scroll-behavior: smooth;
  scroll-padding-top: 150px; /* Ajusta esto al valor de la altura de tu navbar */
}

.height-general {
  height: 85vh;
}
.height-general-portfolio {
  min-height: 85vh;
}
.height-general-contact {
  min-height: 69vh;
}

.M-top {
  margin-top: 100px;
}
/* Estilo general para los botones */
.Portfolio-class button {
  color: #000;
  font-family: "Radio Canada";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: transparent;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
}

/* Botón activo (fondo rojo para el primero) */
.Portfolio-class button.active:nth-child(1) {
  background-color: var(--celesteBase);
  border-radius: 7px;
  color: #fff; /* Ajusta el color del texto si quieres contraste */
}
.Portfolio-class button.active:nth-child(n+2) {
  background-color: transparent;
  border-radius: 7px;
  color: var(--celesteBase); /* Color del texto */
  border-bottom: 4px solid var(--celesteBase);
}

/* Botón inactivo: solo subrayado */
.Portfolio-class button.inactive {
  color: #000; /* Color por defecto del texto */
}

/* Subrayado negro al estar activo */
.Portfolio-class button.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: currentColor; /* Utiliza el color actual del texto */
  border-radius: 3px;
}

/* Subrayado negro para botones inactivos */
.Portfolio-class button.inactive::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: black; /* Subrayado negro */
  border-radius: 3px;
}


