.Portfolio-all {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a nuevas líneas */
  justify-content: space-between; /* Opcional: Ajusta la distribución horizontal */
  margin-top: 50px;
  gap: 1px; /* Espacio entre elementos */
}



.contact-circle {
  position: absolute;
  background-color: #05adb0;
  color: white;
  padding: 10px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 15px;
  z-index: 10;
  pointer-events: none; /* Asegura que no interfiera con los clics */
  /*transition: left 0.1s, top 0.1s;/*  Transición suave para el movimiento */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontRadio);
}



.Portfolio-item {
  flex: 1 1 calc(32.5% - 5px); /* 3 columnas por fila con márgenes */
  max-width: calc(32.5% - 5px); /* Asegura que cada elemento tenga el tamaño correcto */
  box-sizing: border-box;
  padding-bottom: 10px;
  cursor: pointer;
  transition: transform 0.25s ease;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.3s ease; /* Transición suave */
}

.Portfolio-container {
  min-height: auto; /* Ajustar al contenido dinámico */
  padding-bottom: 40px; /* Añade espacio suficiente para evitar superposición */
}

/* General: Asegura que las secciones tengan separación */
#Portfolio {
  margin-bottom: 150px; /* Espacio entre secciones */
}


.Portfolio-all .MarcoDiv {
  width: 390px;
  max-height: auto;
  transition: all 0.2s ease;
}

.Portfolio-all .MarcoDiv .MarcoDiv-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  max-height: 220px;
  
}

.Portfolio-all .MarcoDiv:hover .MarcoDiv-header {
  position: relative;
  background: var(--celesteBase);
  background-size: 200% 100%; /* Para simular el relleno desde la izquierda */
  animation: fillFromLeft 1s ease forwards; /* Animación para rellenar de izquierda a derecha */
  transition: transform 0.3s ease, background 0.5s ease;
}

.Portfolio-all .MarcoDiv:hover .MarcoDiv-header span {
  border: 2px solid white; /* Aplica el borde blanco a los span */
  transition: border 0.1s ease;
}

.Portfolio-all .Portfolio-item:hover {
  transition: transform 0.20s ease;
  transform-origin: center; /* Define el punto de origen de la escala */
  will-change: transform; /* Mejora el rendimiento en el hover */
}

@keyframes fillFromLeft {
  0% {
    background-position: -100% 0; /* Empieza desde fuera del elemento */
  }
  100% {
    background-position: 0 0; /* Termina rellenando completamente */
  }
}

/* Adaptación para .hover-effect */
.hover-effect {
  height: 39px;
  line-height: 40px;
  text-align: right;
  border: 3.38095px solid #213239;
  border-bottom: 3.38095px solid #213239;
  box-sizing: border-box;
  border-radius: 11.4351px 11.4351px 0 0;
  padding: 0 13px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease-in-out, transform 0.3s ease;
}

.hover-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #3498db;
  transition: left 0.3s ease-in-out;
}

.hover-effect:hover::before {
  left: 0;
}

.hover-effect span {
  position: relative;
  z-index: 1;
  color: #213239;
  font-size: 16px;
  display: block;
  transition: color 0.3s ease-in-out;
}

.hover-effect:hover span {
  color: #fff;
}



.Portfolio-all .MarcoDiv .MarcoDiv-body img {

  width: 100%;
  max-height: 300px;
  margin: 0;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}

.MarcoDiv .MarcoDiv-body img {
  width: auto; /* Mantiene el ancho máximo dentro del contenedor */
  height: auto; /* Ajusta la altura para mantener las proporciones */
  object-fit: contain; /* Ajusta la imagen para que quepa completamente en el contenedor */
  display: block;
}

@media screen and (max-width: 768px) {
  .Portfolio-item {
    flex: 1 1 calc(50% - 20px); /* En pantallas pequeñas, 2 columnas */
  }
}

@media screen and (max-width: 480px) {
  .Portfolio-item {
    flex: 1 1 100%; /* En pantallas muy pequeñas, 1 columna */
  }
}

.load-more {
  display: block;
  margin: 5px auto;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: var(--celesteBase);
  font-family: var(--fontRadio);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #b33c00;
  transition: all 0.3s ease;
}