.Portfolio-container h2 {
color: #000;
font-family: var(--fontRaleway);
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: normal; 
text-align: center;
display: inline-block;
padding-bottom: 10px;
border-bottom: 4px solid #0B7678;
}

.Portfolio-container {
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content img {
  max-width: 100%;
  max-height: 80vh;
  object-fit: cover;
}

.modal-content video {
  max-width: 100%; /* El video no excederá el ancho del contenedor */
  max-height: 80vh; /* Limita la altura del video al 80% de la altura de la ventana */
  object-fit: contain; /* Ajusta el contenido para que se mantenga completo dentro del marco */
  border-radius: 8px; /* Opcional: Bordes redondeados */
  display: block; /* Asegura un comportamiento como bloque */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 64px;
  background-color: #251207;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}

.modal-close:hover {
  color: rgb(255, 255, 255);
  background-color: #0b7678;
  cursor: pointer;
}


@media screen and (min-width: 751px) and (max-width: 1200px) {

  #Portfolio .Portfolio-item {
    flex: 1  calc(40.5% - 5px); /* 3 columnas por fila con márgenes */
    max-width: calc(50.5% - 5px); /* Asegura que cada elemento tenga el tamaño correcto */
    box-sizing: border-box;
    padding-bottom: 10px;
    cursor: pointer;
    transition: transform 0.25s ease;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.3s ease; /* Transición suave */
  }
  #Portfolio .Portfolio-item {
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  #Portfolio .Portfolio-item .MarcoDiv{
    width: 100%;
    height: auto;
  }
  
  
  
  
}

@media screen and (max-width: 750px) {
  #Portfolio .Portfolio-all {
    flex-direction: column;
    padding: 0;
  }
  
  #Portfolio .Portfolio-item {
    max-width: 100%;
    margin: 0 auto;
  }

  
  #Portfolio .Portfolio-item .MarcoDiv img{
    width:100%;
  }


  
  
}

@media screen and (max-width: 520px) {

  .Portfolio-class{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 5px;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .Portfolio-all {
    max-width: 100%;
  }


  .Portfolio-class button {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 12px 10px;
    width: 90%;
    display: block;
  }
  
}

@media screen and (max-width: 420px) {
  #Portfolio .Portfolio-item {
    max-width: 100%;
    margin: 0 auto;
  }
  #Portfolio .Portfolio-item .MarcoDiv{
    max-width: 300PX;
    margin: 0 auto;
  }

  .M-top {
    margin-top: 0px;
  }
}
  





