/* SECTION CARD ------------------------------------------ */
.Service-container{
  
}

#Service {
  text-align: center;
}

#Service h2 {
  color: #000;
  font-family: var(--fontRaleway);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 4px solid #0B7678;
  margin-top: 0;
  text-align: center;
  
}





#Service .Cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: .5rem;
}


/* ANIMACIONES ************************* */

/* From Uiverse.io by suleymanlaarabidev */ 
.Service-Card {
  width: 350px;
  height: 450px;
  transition: all 0.25s ease-in-out;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 900;
  overflow: hidden;
  position: relative;
  perspective: 1500px;
}

/* Contenedor para el contenido de la tarjeta */
.Service-Card .Card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* Mantener los elementos dentro en 3D */
  transition: transform 0.6s; /* Tiempo de la animación */

}

/* La tarjeta gira 180 grados */
.Service-Card:hover .Card-inner {
  transform: rotateY(360deg); /* Gira solo 180 grados */
}

/* Animación para el <h3> en 360 grados */
.Service-Card:hover .first-content h3 {
  animation: rotateH3 1s ease-in-out; /* Aplica la animación */
}

/* Define la animación de rotación en 360 grados */
@keyframes rotateH3 {
  0% {
    transform: rotate(0deg); /* Inicia en 0 grados */
  }
  100% {
    transform: rotate(180deg); /* Termina en 360 grados */
  }
}

/* Asegúrate de que el contenido frontal y posterior no se inviertan */
.Service-Card .first-content, 
.Service-Card .second-content {
  backface-visibility: hidden; /* Evita que el contenido se vea al revés */
}

.Service-Card:nth-child(1):hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background: #0ABFBF;
}

.Service-Card:nth-child(2):hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.Service-Card:nth-child(2) .Card-inner:hover {
  background-color: #F25E3D;
  border-radius: 10PX;
}


.Service-Card:nth-child(3):hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background: #F2B705;
}

/* First content (front side) */
.first-content {
  height: 407px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  background-color: inherit;
  transition: all 0.25s ease-in-out;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden; /* Oculta la parte sobrante del video */
  backface-visibility: hidden; /* Evitar que se vea cuando se gire */
}

.Service-Card:hover .first-content {
  opacity: 0;
  transform: translateY(-10%);
}

/* Second content (back side) */
.second-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: inherit;
  transition: all 0.25s ease-in-out;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  transform: rotate(180deg);
  color: white;

}

.Service-Card:hover .second-content {
  opacity: 1;
  transform: translateY(-100%);
  
}
.Service-Card :nth-child(2):hover .second-content {
  opacity: 1;
  transform: translateY(-100%);
}

.Service-Card .MarcoDiv {
  width: 100%;
  height: 100%;
  border: none; /* Evita que los bordes externos creen separación visual */
}


.first-content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.first-content-text h3 {
  color: #000;
  font-family: var(--fontPoppins);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  text-align: start;
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
  display: inline-block;
}

.first-content-text p {
  padding-top: 5px;
  color: #000;
  font-family: var(--fontPoppins);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: start;
  padding: 30px 0;
}

.first-content-text2 h3 {
  font-family: var(--fontPoppins);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid #fff;
  display: inline-block;
  }

.second-content-imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
  gap: 8px; /* Espacio entre las imágenes */
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.second-content-imgs img{
  width: 100%; /* Asegura que las imágenes ocupen el ancho de su celda */
  height: 100%; /* Mantiene la proporción original */
  border-radius: 1px; /* Opcional: bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Opcional: sombra para destacar */
  object-fit: cover;
}


/* Para la tarjeta 2, cambiar el overflow a visible */
.Service-Card:nth-child(2) {
  overflow: hidden; /* Esto hace que la segunda tarjeta tenga overflow visible */
  
}
.Service-Card:nth-child(2) .first-content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  max-height: 100%; /* Asegura que no se desborde */
  overflow: hidden; /* Evita que el contenido sobrepase el card */
}

.Service-Card:nth-child(2):hover .first-content {
  opacity: 0;
  transform: translateY(-10%);
}

/* Asegúrate de que no haya inversión de texto */
.Service-Card .first-content,
.Service-Card .second-content {
  backface-visibility: hidden; /* Asegúrate de que el texto de ambos lados no se invierta */
}

.Service-Card:nth-child(2) .first-content-text2 {
  justify-content: space-around;
  height: 100%;
}

.Service-Card:nth-child(2) .second-content-imgs {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  
}
.second-content-imgs img{
  width: auto;
}

.second-content-imgs img:nth-child(2){
  width: 150px;
  align-items: center;
}


.Service-Card:nth-child(3) .first-content-text2 h3{

  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 40px;
}
.Service-Card:nth-child(3) .second-content .second-content-imgs{
    display: grid;
    grid-template-columns: 1fr; /* 2 columnas de igual tamaño */
    gap: 8px; /* Espacio entre las imágenes */
    width: auto;
  }
.Service-Card:nth-child(3) .second-content .second-content-imgs img{
    width: 270px;
  }


/* ------------------------------------------------------------------- */



